/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  // grays
  --black #000
  --gray-100 #191919
  --gray-950 #F7F7F7

  // grays semi-transparent
  --trans-gray-300 rgba(0,0,0,0.667)
  --trans-gray-600 rgba(0,0,0,0.33)
  --trans-gray-900 rgba(0,0,0,0.1)
  --trans-gray-950 rgba(0,0,0,0.03)


  // whites
  --white-100 rgba(255, 255, 255, 0.1)
  --white-200 rgba(255, 255, 255, 0.16)
  --white-400 rgba(255, 255, 255, 0.44)
  --white-700 rgba(255, 255, 255, 0.667)
  --white-800 rgba(255, 255, 255, 0.8)
  --white #FFFFFF

  // misc
  --transparent transparent

  // brand
  --primary #FFFD38
  --secondary #A8FF89
  --tertiary #30FFDF
  --quaternary #4EF2E4
  --quinary #64DAFB
  --emeris #E4EEE0
  --solid #D4AF62

  // gradients
  --primary-gradient linear-gradient(154deg, var(--quinary) 9.7%, var(--tertiary) 34%, var(--primary) 69%)
  --primary-gradient-complex radial-gradient(145% 78% at 90% 100%, var(--primary) 26%, rgba(158, 255, 185, 0) 100%), linear-gradient(153deg, var(--quinary) 5.4%, var(--tertiary) 30.2%, #B0FF94 54.7%)
  --gold-gradient conic-gradient(#FFF1C3 0deg, #9B7C3A 74deg, #FFF0CA 116deg, #D3AD5F 144deg, #FFECC4 176deg, #997736 230deg, #FFF2C0 285deg, #CEA851 319deg)
  --gold-btn-gradient linear-gradient(102.36deg, #64DBFC -2.26%, #30FFDF 34.48%, #FFFE39 92.77%)
  --gold-material-gradient conic-gradient(from 180deg at 50% 50%, #CEA851 -41.21deg, #FFF1C3 0.05deg, #9B7C3A 74.45deg, #FFF0CA 115.85deg, #D3AD5F 143.94deg, #FFECC4 176.48deg, #997736 232.74deg, #FFF2C0 284.83deg, #CEA851 318.79deg, #FFF1C3 360.05deg)
  --portal-gradient radial-gradient(144.8% 78% at 90.48% 100%, #FFFD38 25.95%, rgba(158, 255, 185, 0) 100%), linear-gradient(153.31deg, #64DAFB 5.41%, #30FFDF 30.23%, #B0FF94 54.73%)
  --title-gradient linear-gradient(102.36deg, #64DBFC -2.26%, #30FFDF 34.48%, #FFFE39 92.77%)

  // functional colors
  --bg var(--black)
  --fg var(--gray-100)
  --fg-trans var(--white-100)
  --surface var(--gray-100)
  --title var(--white)
  --text var(--white-800)
  --muted var(--white-700)
  --inactive var(--white-400)
  --link var(--white)
  --link-hover var(--white-800)
  --border var(--white-100)
  --success #018516
  --error #FF6C87
  --info var(--trans-gray-300)
  --warning #FFA34E

// light mode | functional colors
// .tm-light-mode
//   --bg var(--white)
//   --fg var(--gray-950)
//   --fg-trans var(--trans-gray-950)
//   --surface var(--white)
//   --title var(--black)
//   --text var(--black)
//   --muted var(--trans-gray-300)
//   --inactive var(--trans-gray-600)
//   --link var(--white)
//   --link-hover var(--white-800)
//   --border var(--trans-gray-900)
//   --success #018516
//   --error #CA0842
//   --warning #EC7100


// color utility classes
.tm-title
  color var(--title)

.tm-text
  color var(--text)

.tm-muted
  color var(--muted)

.tm-bg
  color var(--bg)

.tm-info
  color var(--info)
